/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format(woff2),
  url(../fonts/roboto.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format(woff2),
  url(../fonts/robotobold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2) format(woff2),
  url(../fonts/robotomedium.woff) format(woff);
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  --black: #000000;
  --light-black: #283136;
  --white: #FFFFFF;
  --gray: #444444;
  --light-gray: #666666;
  --dirty-white: #EEEEEE;

  --middle-gray: #DFDFDF;
  --dirty-gray: #D5D5D5;

  --light-red: #FB565A;
  --red: #E74246;
  --dark-red: #D7373B;

  --light-green: #00CA74;
  --green: #00BC6C;
  --dark-green: #00AA62;

  --light-yellow: #EFC84A;
  --yellow: #EAB534;
  --dark-yellow: #E5A722;
}

/* GLOBAL */

.page-body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);

  display: grid;
  grid-template-rows:
    auto
    1fr
    auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10;
}

/* Main header */

.main-header {
  background-color: var(--dirty-white);
}

/* Main navigation */

.main-navigation {
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.basket-link {
  justify-self: end;
}

.menu-link,
.basket-link {
  color: var(--black);
}

.menu-link:hover,
.basket-link:hover {
  color: var(--light-red);
}

.menu-link:active,
.basket-link:active {
  color: var(--black);
  opacity: 0.3;
}

/* INDEX */

/* Sliders */

.slider-container {
  background-color: var(--dirty-white);
}

.slides-list {
  list-style: none;
  padding: 0;
}

.slides-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500px;
}

.slider-subtitle {
  color: var(--light-black);
}

.slider-hidden {
  display: none;
}

/* Services */

.services-list {
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
}

.service-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.service-text {
  color: var(--light-black);
  width: 260px;
}

/* About studio */

.about-studio {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 140px;
}

.studio-title {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
}

.studio-subtitle {
  color: var(--light-black);
}

.orders {
  font-weight: 700;
}

.studio-text {
  font-weight: 700;
}

.statistics-list {
  list-style-type: none;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  padding: 0;

  display: grid;
  grid-template-columns: auto auto auto;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.percent-info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--light-black);
}

/* Partners */

.partners-list {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.partners-item {
  width: 260px;
  opacity: 0.2;
  outline: 5px solid rgba(0, 255, 255 , 1);
  outline-offset: -5px;
}

.partners-item:hover {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}


/* CATALOG */

.basic-content {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows:
    auto
    auto;
  column-gap: 140px;
}

/* Main title */

.title-bar {
  background-color: var(--dirty-white);
}

.page-title {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Filters */

.filters {
  grid-row: 1 / -1;

  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.price {
  background-color: var(--dirty-white);
  border: none;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
  line-height: 19px;
  color: var(--light-black);
  padding: 0;
  margin: 0;
}

.filter-part {
  padding: 0;
  margin: 0;
  border: none;
}

/* Sort */

.sort-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Templates */

.template-description {
  background-color: var(--dirty-white);
}

.template-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;

  display: flex;
  flex-wrap: wrap;
}

.template-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.template-item:nth-child(2n) {
  margin-right: 0;
}

.template-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.template-text {
  line-height: 18px;
  color: var(--light-gray);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

/* OTHER */

/* map */

.map {
  width: 1440px;
  margin: 0 auto;
}

.contact-phone {
  color: inherit;
}

.map-info-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.map-info-subtitle {
  line-height: 18px;
  color: var(--light-gray);
}

/* Main footer */

.footer-social {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}

.social-list {
  list-style: none;
  padding: 0;
}

.discount-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount-subtitle {
  line-height: 22px;
  color: var(--gray);
}

/* BUTTON */

.button {
  font-size: inherit;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--light-red);
  color: var(--white);
  text-transform: uppercase;
}

/* Services button */

.button:hover {
  background-color: var(--red);
}

.button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: var(--light-green);
}

.button-green:hover {
  background-color: var(--green);
}

.button-green:active {
  background-color: var(--dark-green);
}

.button-yellow {
  background-color: var(--light-yellow);
}

.button-yellow:hover {
  background-color: var(--yellow);
}

.button-yellow:active {
  background-color: var(--dark-yellow);
}

/* Filter button */

.filter-button {
  border: none;
  background-color: var(--dirty-white);
  color: var(--black);
}

.filter-button:hover {
  background-color: var(--middle-gray);
}

.filter-button:active {
  background-color: var(--dirty-gray);
  color: rgba(0, 0, 0, 0.3);
}

/* Sort button */

.sort-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-button:hover {
  opacity: 0.6;
}

.sort-button:active {
  opacity: 1;
}

/* Cost, buy button */

.buy-button {
  border: none;
}

.buy-button:active {
  color: rgba(255, 255, 255, 1);
}

/* Pagination button */

.pagination-button {
  background-color: var(--dirty-white);
  color: var(--black);
}

.pagination-button:hover {
  background-color: var(--middle-gray);
}

.pagination-button:active {
  background-color: var(--dirty-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button-current {
  background-color: var(--white);
  border: 3px solid #DBDBDB;
}
