/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"),
  url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format("woff2"),
  url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2) format("woff2"),
  url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  --black: #000000;
  --light-black: #283136;
  --white: #FFFFFF;
  --gray: #444444;
  --light-gray: #666666;
  --dirty-white: #EEEEEE;
  --extra-gray: #E1E1E1;
  --extra-light-gray: #4D4D4D;


  --middle-gray: #DFDFDF;
  --dirty-gray: #D5D5D5;

  --light-red: #FB565A;
  --red: #E74246;
  --dark-red: #D7373B;

  --light-green: #00CA74;
  --green: #00BC6C;
  --dark-green: #00AA62;

  --light-yellow: #EFC84A;
  --yellow: #EAB534;
  --dark-yellow: #E5A722;
}

/* GLOBAL */

.page-body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);

  display: grid;
  grid-template-rows:
    auto
    1fr
    auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: top;
}

/* Main header */

.main-header {
  background-color: var(--dirty-white);
}

/* Main navigation */

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 49px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-top: 13px;
  margin-right: 22px;

  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  margin-top: 13px;
}

.menu-link,
.basket-link {
  color: var(--black);

  display: block;
  padding: 13px 0;
  margin: 0 22px;
}

.menu-link:hover,
.basket-link:hover {
  color: var(--light-red);
}

.menu-link:active,
.basket-link:active {
  color: var(--black);
  opacity: 0.3;
}

.basket-link {
  margin-right: 0;
  padding-left: 40px;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.on-page {
  border-bottom: 2px solid var(--light-red);
}

.header-logo-link:hover {
  opacity: 0.7;
}

.header-logo-link:active {
  opacity: 0.3;
}

.header-logo {
  width: 160px;
  height: 65px;
}


/* INDEX */

/* Sliders */

.slider-container {
  background-color: var(--dirty-white);
  margin-bottom: 82px;
}

.slides {
  position: relative;
}

.slides-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slides-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  padding-top: 72px;
  padding-bottom: 25px;
  width: 538px;
}

.slider-subtitle {
  color: var(--light-black);
  margin: 0;
  margin-bottom: 38px;
  width: 416px;
}

.slider-controls {
  position: absolute;
  left: 546px;
  bottom: 96px;
  z-index: 20;
  width: 88px;

  display: flex;
  justify-content: space-between;
}

.slider-item {
  background-position: center right;
  background-repeat: no-repeat;
}

.slider-1 {
  background-image: url("../img/phones.png");
}

.slider-2 {
  background-image: url("../img/copmuters.png");
}

.slider-3 {
  background-image: url("../img/tablet-and-phone.png");
}

.slider-hidden {
  display: none;
}

.slide-current {
  display: block;
}

/* Services */

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
}

.service-title {
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.service-text {
  color: var(--light-black);
  width: 260px;
  margin-bottom: 32px;
}

.services-illustration {
  width: 300px;
  height: 146px;
  object-fit: contain;
}

/* About studio */

.about-studio {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 140px;

  margin-top: 121px;
  position: relative;
}

.about-studio::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: var(--dirty-white);
  top: -41px;
}

.studio-title {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  margin-top: 33px;
  margin-bottom: 32px;
}

.studio-subtitle {
  color: var(--light-black);
  margin-bottom: 40px;
}

.orders {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 23px;
}

.orders-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-item {
  padding-left: 36px;
  position: relative;
  margin-top: 24px;
}

.order-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--light-red);
  left: 0;
  top: 10px;
}

.studio-text {
  font-weight: 700;
  margin-top: 37px;
  margin-bottom: 31px;
  text-transform: uppercase;
  text-align: center;
}

.statistics-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  display: flex;
  justify-content: space-between;
}

.statistics-item {
  margin-right: 21px;
}

.nerds-illustration {
  width: 360px;
  height: 208px;
}

.percent-number {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.percent-info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--light-black);
  margin: 0;
}


/* Partners */

.partners {
  margin-top: 121px;
  margin-bottom: 126px;
  position: relative;
}

.partners::before,
.partners::after {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: var(--dirty-white);
}

.partners::before {
  top: -48px;
}

.partners::after {
  bottom: -46px;
}

.partners-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.partners-item {
  width: 260px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  right: -20px;
  background-color: var(--dirty-white);
}

.partners-item:last-child::before {
  display: none;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.1;
}



/* CATALOG */

.basic-content {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows:
    auto
    1fr;
  column-gap: 140px;
  margin-bottom: 49px;
}

/* Main title */

.title-bar {
  background-color: var(--dirty-white);
  margin-bottom: 55px;
}

.page-title {
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 108px;
}

/* Filters */

.filters {
  grid-row: 1 / -1;
}

.price {
  background-color: var(--dirty-white);
  border: none;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter-list {
  list-style: none;
  line-height: 20px;
  color: var(--light-black);
  padding: 0;
  margin: 0;
}

.filter-part {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-cost {
  margin-bottom: 54px;
}

.filter-radio {
  padding-bottom: 27px;
}

.filter-checkbox {
  padding-bottom: 30px;
}

.filter-item {
  margin-bottom: 20px;
  margin-left: 36px;
}

.filter-list label {
  position: relative;
}


/* Range */

.range-controls {
  background-color: var(--dirty-white);
  border-radius: 3px;
  height: 41px;
  padding-top: 39px;
  position: relative;
  margin-bottom: 14px;
  margin-top: 30px;
}

.scale {
  height: 2px;
  width: 210px;
  background-color: #D7DCDF;
  margin: 0 auto;

  position: relative;
}

.bar {
  background-color: #00CA74;
  height: 2px;
}

.toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: -9px;
  cursor: pointer;

  transform: translateX(-50%);
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.min-price,
.max-price {
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  font: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

/* radiobox */

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--extra-light-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before {
  opacity: 1;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -28px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: var(--extra-light-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked:hover + label::after {
  opacity: 1;
}

/* checkbox */

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -32px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox/check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:hover + label::after {
  opacity: 1;
}

/* Sort */

.sort {
  display: flex;
  justify-content: space-between;

  margin-bottom: 48px;
}

.sort-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sort-buttons {
  display: flex;
  align-items: center;
}

/* Templates */

.template-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.template-item {
  width: 360px;
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;
}

.template-item::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 360px;
  height: 40px;
  background-image: url("../img/template/browser.svg");
  opacity: 0.12;
}

.template-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 26px 0 12px;
  display: inline-block;
}

.template-text {
  line-height: 18px;
  color: var(--light-gray);
  margin: 0 auto 32px;
  width: 255px;
}

.template-description {
  background-color: var(--dirty-white);
  width: 360px;
  height: 231px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  display: none;
}

.template-item:hover .template-description {
  display: block;
}

.template-item:hover.template-item::before {
  opacity: 1;
}

.template-item:hover .template {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.template-substrate {
  width: 360px;
  height: 580px;
  background-color: #F2F2F2;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
}

.template {
  width: 358px;
  height: 578px;
  object-fit: contain;
  background-color: var(--white);
}

.template-link {
  color: var(--black);
}

.template-link:hover {
  color: var(--light-red);
}

.template-link:active {
  color: var(--black);
  opacity: 0.3;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* OTHER */

/* map */

.map {
  position: relative;
}

.map-info-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 23px;
}

.map-info-subtitle {
  line-height: 18px;
  color: var(--light-gray);
  margin: 0 0 37px;
}

.contact-phone {
  color: inherit;
}

.container-map-info {
  width: 1160px;
  height: 416px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  padding: 0 10px;
}

.map-info {
  width: 319px;
  padding: 49px 50px 47px;
  box-sizing: border-box;
  background-color: var(--white);

  position: absolute;
  left: 10px;
  top: 54px;
}

.button-write-us {
  width: 100%;
}

.map-image {
  width: 100%;
}


/* Popup */

.popup {
  display: none;
  width: 760px;
  height: 443px;
  padding: 63px 100px 84px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: var(--white);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}

.popup-active {
  display: block;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup-title {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
}

.popup-label {
  line-height: 18px;
  font-weight: 700;
  display: block;
}

.contact-name,
.contact-email {
  width: 360px;
  margin-bottom: 34px;
}

.contact-text {
  width: 760px;
  height: 118px;
  margin-bottom: 47px;
}

.contact-name,
.contact-email,
.contact-text {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
  margin-top: 9px;
  color: rgba(68, 68, 68, 0.5);
}

.contact-name:hover,
.contact-email:hover,
.contact-text:hover {
  border: 2px solid #B4B9BB;
  color: rgba(68, 68, 68, 0.5);
}

.contact-name:focus,
.contact-email:focus,
.contact-text:focus {
  border: 2px solid #000000;
  color: rgba(68, 68, 68, 1);;
}

.contact-name:invalid:not(:placeholder-shown),
.contact-email:invalid:not(:placeholder-shown),
.contact-text:invalid:not(:placeholder-shown) {
  border-color: var(--red);
  color: var(--red);
}


/* Main footer */

.footer-social {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 68px 0;
  margin-top: 63px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.discount {
  margin: 75px 0;
  margin-top: 70px;
}

.discount-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.discount-subtitle {
  line-height: 22px;
  color: var(--gray);
  margin: 0;
  margin-top: 10px;
}

/* BUTTON */

.button {
  display: inline-block;
  padding: 17px 20px 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--light-red);
  color: var(--white);
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
}

/* Services button */

.button:hover {
  background-color: var(--red);
}

.button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: var(--light-green);
}

.button-green:hover {
  background-color: var(--green);
}

.button-green:active {
  background-color: var(--dark-green);
}

.button-yellow {
  background-color: var(--light-yellow);
}

.button-yellow:hover {
  background-color: var(--yellow);
}

.button-yellow:active {
  background-color: var(--dark-yellow);
}

.service-button {
  width: 160px;
}

/* Sliders button */

.button-more {
  width: 240px;
  margin-bottom: 80px;
}

.button-disk {
  width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  position: relative;
}

.button-disk-current::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #C1C1C1;
  box-sizing: border-box;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

/* Filter button */

.filter-button {
  width: 100%;
  border: none;
  background-color: var(--dirty-white);
  color: var(--black);
}

.filter-button:hover {
  background-color: var(--middle-gray);
}

.filter-button:active {
  background-color: var(--dirty-gray);
  color: rgba(0, 0, 0, 0.3);
}

/* Sort button */

.sort-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
  border: none;
  padding: 0;
  margin-right: 25px;
  background-color: transparent;
}

.sort-button:nth-child(3) {
  margin-right: 47px;
}

.sort-button:last-child {
  margin-right: 0;
}

.sort-button-more,
.sort-button-less {
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.sort-button-more {
  background-image: url("../img/icon-up-down-dir.svg");
  background-position: 0 0;
  margin-right: 18px;
}

.sort-button-less {
  background-image: url("../img/icon-up-down-dir.svg");
  background-position: 0 0;
  transform: rotate(180deg);
}

.sort-button:hover {
  opacity: 0.6;
}

.sort-button:active,
.sort-button-selected {
  opacity: 1;
}

.sort-button:hover.sort-button-selected {   /* правильно ли сделал?? не дает окрасить выбранную кнопку в серый цвет при наведении*/
  opacity: 1;
}


/* Cost, buy button */

.buy-button {
  border: none;
  width: 200px;
}

.buy-button:active {
  color: rgba(255, 255, 255, 1);
}

/* Pagination button */

.pagination-button {
  margin-right: 11px;
  margin-bottom: 11px;
  background-color: var(--dirty-white);
  color: var(--black);
}

.pagination-button:hover {
  background-color: var(--middle-gray);
}

.pagination-button:active {
  background-color: var(--dirty-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button-current {
  background-color: var(--white);
  box-shadow: inset 0 0 0 3px #DBDBDB;
}

.pagination-item:last-child .pagination-button {
  width: 260px;
}

/* Social link */

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 81px;
  height: 81px;
  background-color: var(--extra-gray);
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--red) ;
}

.social-link:active {
  background-color: var(--dark-red) ;
}

.social-link:active path {
  opacity: 0.3;
}

/* Popup button */

.submit-button {
  border: none;
  width: 259px;
}

.close-popup {
  width: 21px;
  height: 21px;
  position: absolute;
  background-image: url("../img/close-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  top: 78px;
  right: 90px;
  opacity: 0.3;
}

.close-popup:hover {
  opacity: 1;
}

.close-popup:active {
  opacity: 0.1;
}


